body {
    overflow: hidden;
}

#topBackground {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header > * {
    font-weight:900;
    font-size: large;
}

.center > h2 {
    font-weight:900;
    font-size:1.3em;
}
.center > h1 {
    margin-bottom: 0.1em;
}

.shade {
    position: absolute;
    background-color: whitesmoke;
    opacity: 0.2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

main {
    margin-top: 4em;
}

#bullets {
    padding: 0.1em;
}

@media screen and (max-width: 650px) {
    body {
        overflow: auto;
    }
}
